.u-section-1 {
  background-image: url("/static/images/pexels-photo-911758.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  min-height: 115px;
  height: auto;
  margin-top: 62px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-1 .u-text-1 {
  margin: 26px 734px 0 0;
}

.u-section-1 .u-form-1 {
  height: 67px;
  margin: -54px 0 0 544px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  text-transform: none;
  font-size: 1.125rem;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 704px;
  
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 352px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 352px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  margin: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 534px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 344px;
  }

  .u-section-1 .u-image-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-2 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 314px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 124px;
  }

  .u-section-1 .u-image-1 {
    min-height: 444px;
  }

  .u-section-1 .u-image-2 {
    min-height: 222px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 666px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 333px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 419px;
  }

  .u-section-1 .u-image-2 {
    min-height: 210px;
  }
}
.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #5580af, #a3b1c0);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 30px auto;
  padding: 2px 20px 3px;
}
.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #5580af, #a3b1c0);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 30px auto;
  padding: 2px 20px 3px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4376em;
  margin-left: 15px;
  vertical-align: -2px;
}