.u-section-1 {
  min-height: 1145px;
}

.u-section-1 .u-image-1 {
  min-height: 633px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("/static/images/pexels-photo-325185.jpeg");
  background-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  width: 531px;
  line-height: 1;
  margin: 142px auto 0;
}

.u-section-1 .u-group-2 {
  width: 821px;
  min-height: 541px;
  height: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 140px auto -435px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 1px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #5580af, #a3b1c0);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 469px 22px 0 auto;
  padding: 4px 12px 4px 11px;
  z-index: 1000;
}

.u-section-1 .u-icon-1 {
  margin-right: 13px;
  font-size: 1.4em;
  vertical-align: 0px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #5580af, #a3b1c0);
  margin: 289px calc(((100% - 1140px) / 2) + 426px) 0 auto;
  padding: 4px 18px 5px 17px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.4em;
  margin-right: 13px;
  vertical-align: 0px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #5580af, #a3b1c0);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 46px auto 60px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-icon-3 {
  margin-right: 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 66.18%;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 344px;
    margin-right: calc(((100% - 940px) / 2) + 226px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -98px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 660px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2) + 6px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
}